// Variables

// Max - widths Container

$sm: 320px;
$md: 750px;
$xl: 1100px;


// COLORS 

$white: #ffffff;
$black: #000000;
$c-black-footer:#09121B;
$c-white-bg: #FFF6F9;
$c-blue-dark: #121f34;
$c-blue-dark-t: rgba(11, 25, 47, 0.9);

$c-grey-nav: #b4b4b4;
$c-grey-btn: #aaaaaa;

$c-black-tag: #191e20;

$c-red: #f64747;
// TYPOGRAPHY

$f-roboto: 'Roboto', sans-serif;
// $f-sacramento: 'Sacramento', cursive;



$light: 300;
$regular: 400;
$bold: 700;


