
/*--------------------------- cookie ------------------------------*/

.cookie-message {
    color: #aaa;
    padding: 2px 0px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: rgba(0, 50, 129, 0.07);
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 999;
}

.cookie-message a {
    color: #4f5f79;
    text-decoration: none;
}

.accept-btn {
    background-color: rgba(9, 20, 38, 0.55);
    padding: 5px 10px;
    color: #FFF;
    border-radius: 4px;
    border: none;
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.cookiemonster {
    width: 10%;
    position: absolute;
    top: 0px;
    left: 100%;
    animation: cookiemonsta 3s linear infinite;
}