////////
// GRID
////////
*, 
*:before, 
*:after { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  // max-width: $sm;
  max-width: 700px;
 
} 


.container-fluid {
  padding: 0 15px;

  max-width: 100%;
  width: 100%;
}

[class*="col-"] { 
  width: 100%;  
  padding: 15px; 
}

@for $i from 1 through 12 {
  .col-#{$i} { 
    flex-basis: 100% / 12 * $i; 
    width: 100% / 12 * $i;
  }
}

@for $i from 1 through 12 {
  .col-offset-#{$i} { 
    width: 100% / 12 * $i ;
  }
}

@include breakpoint(sm) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} { 
      flex-basis: 100% / 12 * $i;
      width: 100% / 12 * $i;
     }
  }

  @for $i from 1 through 12 {
    .col-sm-offset-#{$i} { 
      margin-left: 100% / 12 * $i;
     }
  }
}

//================//
// MD BREAKPOINT //
//================//

@include breakpoint(md) {
  @for $i from 1 through 12 {
    .col-md-#{$i} { 
      flex-basis: 100% / 12 * $i;
      width: 100% / 12 * $i;
     }
  }

  @for $i from 1 through 12 {
    .col-md-offset-#{$i} { margin-left: 100% / 12 * $i }
  }
  .container{
    max-width: $md;
  }

}

//================//
// XL BREAKPOINT //
//================//

@include breakpoint(xl) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} { 
      flex-basis: 100% / 12 * $i;
      width: 100% / 12 * $i;
    }
  }

  @for $i from 1 through 12 {
    .col-xl-offset-#{$i} { 
      margin-left: 100% / 12 * $i;
     }
  }

  .container{
    max-width: $xl; 
  }
}
